@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.memberCardContainer{
    width: 400px;
    border-radius: 10px;
    background-color: #fefefe;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 1em 2em;
    position: relative;
}

.imgContainer img{
    border-radius: 50%;
    width: 50%;
}

.memberinfo{
    margin-top: 0.6em;
}

.editicon{
    position: absolute;
    right: 0.8em;
    top: 0.5em;
    font-size: 1.5em;
    cursor: pointer;
    color: #333333;
    opacity: 1;
}

.userIcon p:first-child{
    font-size: 1.2rem;
    font-weight: 700
}

.userIcon p:last-child{
    font-size: 1.1rem;
    font-weight: 300;
}

.description{
    margin-top: 0.6em;
    font-weight: 200;
}