.container{
    background-color: rgb(248, 253, 255);
    padding: 3em 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: auto;
    box-shadow: 0 3px 72px 0px rgba(0,0,0,0.1);
}

.input{
    display: flex;
    gap: 1em;

}

.userName input, .city input{
    border: #33333333 solid 1.5px;
    outline: none;
    font-size: 1rem;
    padding: 0.5em 1em;
    font-weight: 300;
    border-radius: 7px;
}

.userName input:focus, .city input:focus{
    border: rgb(119, 201, 255) solid 1.5px;
}

.btns{
    display: flex;
    justify-content: center;
    gap: 3em;
    margin-top: 3em;
}

.cancelbtn button, .updatebtn button{
    background-color: beige;
    border: none;
    padding: 0.7em 1em;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;

}