.cards{
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  padding: 1em 4em;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4em;
}

.searchbar--container{
  display: flex;
  justify-content: end;
  margin:  2em 2em 2em 0;
}

.searchbar--container input{
 border: #33333333 solid 1.5px;
 outline: none;
 font-size: 1rem;
 padding: 0.5em 1em;
 font-weight: 300;
 border-radius: 7px;
 
}

.searchbar--container input:focus{
  border: rgb(119, 201, 255) solid 1.5px;
}